<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./node_modules/axios/dist/axios.js"></script>
</head>
<body>

<div id="app">
    <input type="file" v-on:change="handleChange(1, $event)">
    <div v-if="preview1"><img v-bind:src="preview1" width="240"></div><br />

    <input type="file" v-on:change="handleChange(2, $event)">
    <div v-if="preview2"><img v-bind:src="preview2" width="240"></div><br />

    <input type="file" v-on:change="handleChange(3, $event)">
    <div v-if="preview3"><img v-bind:src="preview3" width="240"></div><br />

    <input type="file" v-on:change="handleChange(4, $event)">
    <div v-if="preview4"><img v-bind:src="preview4" width="240"></div><br />

    <input type="file" v-on:change="handleChange(5, $event)">
    <div v-if="preview5"><img v-bind:src="preview5" width="240"></div><br />
</div>

<script>
    new Vue(
        {
            el: '#app',
            data: {
                preview: '',
                preview1: '',
                preview2: '',
                preview3: '',
                preview4: '',
                preview5: '',
            },
            methods: {
                handleChange: function (number, event) {
                    console.log(number);
                    var file = event.target.files[0]
                    if (file && file.type.match(/^image\/(png|jpeg)$/)) {
                        this.preview = window.URL.createObjectURL(file)

                        if (number == 1) this.preview1 = window.URL.createObjectURL(file)
                        if (number == 2) this.preview2 = window.URL.createObjectURL(file)
                    }
                }
            }
        }
    )

</script>
</body>
</html>
