<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sec10</title>
    <script src="./node_modules/vue/dist/vue.js"></script>
</head>
<body>

<div id="app">
    <ul>
        <li v-for="(item, index) in list" v-bind:key="item.id">
            ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }} POWER {{ item.power }}<span v-if="item.hp > 1000">つよい！！ </span>
            <button v-on:click="doAttack(index)">攻撃する</button>
        </li>
    </ul>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            list: [
                {id: 1, name: 'グラハント', hp: 100, power: 'H'},
                {id: 2, name: 'ディープマニピュレーター', hp: 1100, power: 'MH'},
                {id: 3, name: 'フェザーストローク', hp: 1020, power: 'M'},
            ]
        },
        methods: {
            doAttack: function(index) {
                this.list[index].hp -= 10;
            }
        }
    })
</script>

</body>
</html>
