<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./node_modules/axios/dist/axios.js"></script>
</head>
<body>
<div id="app">
    <input v-model="message">
    <input type="checkbox" v-model="val" true-value="YES" false-value="NO">{{ val}}
    <p>{{ message }}</p>
    <p>{{ message }}</p>
    <p>{{ message }}</p>
    <p>{{ message }}</p>
    <p>{{ message }}</p>

    <label><input type="checkbox" v-model="values" value="A">A</label>
    <label><input type="checkbox" v-model="values" value="B">B</label>
    <label><input type="checkbox" v-model="values" value="C">C</label>
    <p>{{ values }}</p>

    <label><input type="radio" v-model="value" value="A">A</label>
    <label><input type="radio" v-model="value" value="B">B</label>
    <label><input type="radio" v-model="value" value="C">C</label>
    <p>{{ value }}</p>


    <script>
        new Vue({
            el: '#app',
            data: {
                message: 'Hello!',
                val: true,
                values: [],
                value: ''
            }
        })
    </script>
</div>

</body>
</html>
