<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <div v-if="ok">v-if条件による描画</div>
    <div v-show="ok">v-show条件による描画</div>

    <button v-on:click="display">表示する</button>

    <div v-if="type === 'A'">
        typeはA
    </div>

    <div v-else-if="type === 'B'">
        typeはB
    </div>

    <div v-else>
        すべての条件を満たさなかった
    </div>
    <input v-model="type">



</div>

<script>
new Vue({
    el: '#app',
    data: {
        ok: false,
        type: "A"
    },
    methods: {
        display: function () {
            this.ok =true
        }
    }
})
</script>

</body>
</html>
